@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}

body {

  line-height: 1.6;
}

h1 {
  font-size: 25px;
  text-align: center;
  margin: 5px 0 60px 0;
  background-color: #0097A7;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  color: #333;
  border-radius: 5px;
}

#search-button {
  padding: 9px 20px;
  font-size: 16px;
  background-color: #138065;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  max-width: 1200px;
  margin: 0 50px;
}

.search-result {
  margin-bottom: 60px;
  width: calc(33.33% - 20px); 
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.search-result img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.search-result:hover img {
  opacity: 0.8;
}

.search-result a {
  font-size: 12px;
  color: #333;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: capitalize;
}

#show-more-button {
  background-color: #249897;
  font-size: 10px;
  border: none;
  color: white;
  padding: 8px 5px;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  
}

@media screen and (max-width: 768px) {
  .search-results {
    padding: 20px;
  }
  .search-result {
    width: calc(50% - 20px); 
  }
}

@media screen and (max-width: 840px) {
  .search-result {
    width: 100%;
  }
}

.footer{
    background-color: #232121;
    color: white;
    padding: 7px;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
}
.footer p{
    font-size: 12px;

}
